<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level [%logger{36}] [%X{pekkoSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="play" level="INFO"/>
    <logger name="application" level="DEBUG"/>
    <logger name="actors.OutboxProcessor" level="INFO"/>
    <logger name="actors.DLQProcessor" level="INFO"/>
    <logger name="publishers.HttpEventPublisher" level="INFO"/>
    <logger name="services.OutboxServiceWithRouter" level="INFO"/>
    <logger name="repositories" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>